azure-storage-blob
azure-data-tables
azure-cosmos
docx
datetime
fastapi
io
json
openai
os
python-dotenv
python-docx
re
requests
streamlit
storage
sentence_transformers
subprocess
shutil
tempfile
time
uvicorn
uuid














